body {
    margin: 0px;
    overflow: hidden;
}

#help-text {
    background-color: #444444;
    width: 100%;
	text-align: center;
}

#game-stats {
    background-color: #444444;
    width: 100%;
	text-align: center;
	bottom: 0px;
	position: fixed;
}

#help-text span {
	color: #fff;
}

span {
    color: #fff;
}